.menu-bar {
  background-color: #333;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item a {
  padding: 14px 20px;
  text-decoration: none;
  color: #fff;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .menu-list {
    flex-direction: column;
  }
}
